body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Elemente auf beiden Seiten des Headers verteilen */
    align-items: center; /* Vertikal zentrieren */
  }
  
  header button {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
  }
  
  .container-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form input[type="text"],
  .form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .link {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .error {
    color: #dc3545;
    margin-top: 5px;
    font-size: 14px;
  }
  
  .do-not-display {
    display: none;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .event-box {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .event-description h3 {
    margin: 0;
  }
  
  .event-details p {
    margin: 5px 0;
  }
  
  .add-form,
  .edit-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .add-form label,
  .edit-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-form input,
  .edit-form input,
  .add-form select,
  .edit-form select {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .add-form button,
  .edit-form button {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .add-form button:hover,
  .edit-form button:hover {
    background-color: #333;
  }
  
  .event-details button {
    margin-top: 10px;
  }
  
  #search-text {
    width: calc(100% - 80px);
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #eventSection {
    margin-top: 20px;
  }
  
  #addEventBtn {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
  }
  
  #logOutBtn{
    margin-right: 10px;
    margin-top: -100px;
  }

  #sortEvents{
    margin-bottom: 5px;
  }